
    <section id="main">
        <section class="content">
            <h3 class="heading"><%= t('.title') %></h3>
            <br />
            <br />
            <article>
            Finish!!(^0^)
            </article>
        </section>
    </section>

